@import "tailwindcss";

@font-face {
    font-family: 'Bonny';
    src: url('/fonts/Bonny-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pilcrow Rounded';
    src: url('/fonts/PilcrowRounded-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-accent-dark: #691e21;
    --color-accent-light: #a32e32;
    --color-bg-off-white: #fcfbfb;

    --font-bonny: 'Bonny', sans-serif;
    --font-pilcrow: 'Pilcrow Rounded', sans-serif;

    --animate-fade-out-layer: fade-out-layer 4s forwards;
    --animate-slide-in-fall: slide-in-fall 1s ease-out forwards;
    --animate-slide-in-left: slide-in-left 1s ease-out forwards;
    --animate-slide-in-right: slide-in-right 1s ease-out forwards;
    --animate-fade-extend: fade-extend 2s ease-out forwards;
}

@keyframes fade-out-layer {
    0% {
        opacity: 1;
        z-index: 99999;
    }

    90% {
        opacity: 0;
    }

    100% {
        z-index: -99999;
        display: none;
    }
}

@keyframes slide-in-fall {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }


    80% {
        opacity: 1;
    }

    100% {

        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade-extend {


    50% {
        transform: scale(1);
    }


    100% {
        transform: scale(3);
    }
}

html,
body {
    overscroll-behavior: none;
}


/* Global Selection Style */
::selection {
    background-color: var(--color-accent-dark);
    /* Burgundy */
    color: var(--color-bg-off-white);
    /* Off-white */
}

body {
    user-select: none;
    cursor: default;
}


h3,
h4,
h5,
h6,
p {
    user-select: text;
    cursor: auto;
}