---
import Filigram from "./filigram/Filigram.astro"
---
<section>
    <Filigram/>
   <div class="mx-4 sm:mx-10 md:mx-20 my-10 w-auto p-6 sm:p-10 md:p-20 text-xl sm:text-2xl">
  <h2 class="bg-[#85282b] inline-block p-2 text-white text-3xl sm:text-4xl font-medium font-['Crimson-Pro']">
    About Me
  </h2>

  <div class="flex flex-col lg:flex-row w-full gap-6 sm:gap-8 mt-6">
    
    <div class="w-full lg:w-1/2 h-auto rounded-4xl overflow-hidden mt-4">
      <p class="font-['Crimson-Pro'] text-3xl sm:text-4xl md:text-5xl my-2">The Filimisco</p>
      <img src="/profile.jpeg" class="object-cover w-full h-[20rem] sm:h-[25rem] md:h-[30rem]" alt="">
    </div>


    <div class="w-full lg:w-1/2 h-full bg-[#6b3637]">
      <h3 class="font-['Gloock'] font-light text-2xl sm:text-3xl md:text-4xl bg-[#F2F2F2] inline-block p-3 mt-4">
        FullStack Developer and Artist
      </h3>
      <p class="font-['Gloock'] font-extralight p-4 sm:p-6 md:p-8 text-base sm:text-lg md:text-2xl text-white">
        I'm a full-stack developer with an artistic twist. 
        I love bringing websites and mobile apps to life with style. 
        I'm into databases, currently studying software development (DAM), and seriously obsessed with art and code.
      </p>
    </div>

  </div>
</div>
    <Filigram/>
</section>