<div class="flex items-center justify-center gap-2 my-10 mx-50">
        <div class="flex-1 h-[2px] bg-black"></div>
        <div class="w-[14px] h-[6px] bg-black rounded rotate-90"></div>
        <div class="w-[10px] h-[10px] bg-black rotate-45"></div>
        <div class="w-[14px] h-[6px] bg-black rounded rotate-90"></div>
        <div class="flex-1 h-[2px] bg-black"></div>
</div>